#built cmake files/built project files
build/
db_files/
openotpd
*.a
*.o
#shit that macs crap out
.DS_Store
#cmake stuff
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
#unittest artifacts
unittest_db/
